.main-content{
    padding: 0px ;
}
.header-top{
    padding: 20px;
    background: #ba0c2f;
    display: flex
    ;
        justify-content: space-between;
}
.card-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    padding: 32px;
}

.card {
    width: 100%;
    border: none !important;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.card__title {
    color: #67748e;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 1.1rem;
    letter-spacing: .02857em;
    line-height: 1.5;
    text-transform: capitalize;
    font-weight: 700;
    text-decoration: none;
    vertical-align: unset;
}

.card-leaderboard{
    max-height: 300px;
    overflow-y: auto;
}
.heading-count-icon{
 display: flex;
 gap: 10px;
 flex-wrap: wrap;
}
.leaderboard-index{
    padding: 6px 8px;
    background: #ddd;
    border-radius: 27px;
}
.home-icon{
  padding: 6px 10px;
  border-radius: 50px;
  background-color: #ba0c2f;
  height: 44px;
  width: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}