.card-container {
  display: flex;
  flex-wrap: wrap;
  /* allow multiple rows */
  gap: 10px;
  /* spacing between cards */
  justify-content: flex-start;
  /* align cards to the left */
  margin-bottom: 24px;
  padding: 20px !important;
  /* spacing below container */
}
.activity-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.activity-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 16px 20px;
  border: 1px solid #e0e6ed;
  border-radius: 8px;
  box-shadow: 0 1px 4px rgba(50, 58, 71, 0.05);
  border-left: 5px solid #ba0c2f;
}


.activity-info {
  display: flex;
  flex-direction: column;
}

.activity-title {
  font-weight: 600;
  font-size: 1rem;
  color: #2f3542;
  margin-bottom: 4px;
}

.activity-meta {
  color: #6c757d;
  font-size: 0.85rem;
}

.activity-date {
  text-align: right;
  font-size: 0.85rem;
  color: #444;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.status-tag {
  display: inline-block;
  padding: 2px 8px;
  font-size: 0.75rem;
  font-weight: 600;
  background-color: #ba0c2f;
  color: #fff;
  border-radius: 4px;
}

.filter-bar {
  margin: 10px 0;
  display: flex;
  gap: 10px;
  align-items: center;
  margin-left: auto;
}
.filter-bar label {
  font-weight: bold;
}


.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 999;
}
.modal.hidden {
  display: none;
}
.modal-content {
  background: white;
  padding: 20px;
  width: 90%;
  max-width: 500px;
  border-radius: 8px;
  position: relative;
  height: 100vh;
  overflow: scroll;
}
.modal-content h3 {
  margin-top: 0;
}
.modal-content label {
  display: block;
  margin-bottom: 10px;
}
.modal-content input,
.modal-content textarea {
  width: 100%;
  padding: 6px;
  margin-top: 4px;
}
.close-button {
  position: absolute;
  top: 10px;
  right: 14px;
  cursor: pointer;
  font-size: 20px;
}
